:root {
    /* Variáveis Cores globais */
    --cor-azul: #0004ff;
    --cor-verde: #00ff00;
    --cor-amarelo: #fffb00;
    --cor-vermelho: #ff0000;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --tamanho-fonte: 16px;
}

* {
    padding: 0;
    margin: 0;
}

.flex-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;/* Deixa o menu flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
  
.flex-menu .flex-item {
    margin-right: 40px; /* espaçamento fixo entre os itens do menu */
}

.flex-menu a {
    text-decoration: none; /* Tira as bolinhas dos links do menu */
    color: #333;
}
  
.menu-icon {
    display: none; /* Esconde o ícone do menu hambúrguer por padrão */
}

.menu #menu-toggle{ /* Altera a visibilidade */
    display: none;
}

/* Limitando o menu hamburguer para resoluções específicas */
@media screen and (max-width: 768px) {
    .menu ul {
      display: none; /* Esconde o menu padrão em telas menores */
    }
  
    .menu-icon {
      display: block; /* Exibe o ícone do menu hambúrguer em telas menores */
    }
  
    /* Adicione estilos específicos do menu hambúrguer aqui */
  }
  
  