/* importando fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    /* Variáveis Cores globais */
    --cor-azul: #0004ff;
    --cor-verde: #00ff00;
    --cor-amarelo: #fffb00;
    --cor-vermelho: #ff0000;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-cinza: #333;
    --cor-roxo: #9d13af;
    
    /* Fontes */
    --tamanho-fonte: 16px;
}

* {
    /* resetando as medidas do css */
    padding: 0;
    margin: 0;
}

body {
    height: 100vh; /* o body ocupar 100% da tela do dispositivo */
    box-sizing: border-box; /* elementos filhos do body vão ocupar somente o espaço do body, ou seja, não sair da tela */
    background-image: url('../assets/parallax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container-fluid {
    width: 100% !important; /* Ocupar 100% da largura da tela */
}

.cabecalho { /* tag main também ocupar 100% da tela do dispositivo */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    opacity: 0.9;
}

.logo__img {
    height: 60px; /* tamanho fixo da logo */
}

.nav-link {
    font-size: var(--tamanho-fonte); /* usando as variáveis de tamanho de fonte */
    font-weight: 400; /* definindo o peso da fonte */
    color: var(--cor-preto) !important; /* cor do texto do menu */
    margin: 1px;
    -webkit-transition: all .4s; /* Chrome e Safari, propriedades do elemento alteradas terá transição de 0.4 segundos */
    transition: all .4s; /* Outros navegadores, propriedades do elemento alterada terá transição de 0.4 segundos */
    font-family: 'Oswald', sans-serif; /* definindo a família de fonte do texto */
    letter-spacing: 3px; /* espaçamento entre as letras para dar efeito visual */
    text-transform: uppercase; /* definindo letras maiúsculas para o texto */
}

.nav-link:hover {
    color: var(--cor-roxo) !important;
}

.navbar {
    /*padding: 0px !important;*/
    background-color: white;
    opacity: 0.9;
    /*min-height: 98px;*/
}

.navbar .navbar-collapse {
    overflow: auto;
    background: #fff;
    text-align: left;
    width: 100vw;
    padding: 20px;
}

.navbar-brand {
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
    margin-left: 1rem;
}
  
@media (max-width: 235px) {
    .cabecalho{
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        height: auto;
        min-height: auto;
    }

    .navbar {
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}