/* importando fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    /* Variáveis Cores globais */
    --cor-azul: #0004ff;
    --cor-verde: #00ff00;
    --cor-amarelo: #fffb00;
    --cor-vermelho: #ff0000;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --tamanho-fonte: 16px;
}

* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh; /* o body ocupar 100% da tela do dispositivo */
    box-sizing: border-box; /* elementos filhos do body vão ocupar somente o espaço do body, ou seja, não sair da tela */
}

.apresentacao{ /* tag main também ocupar 100% da tela do dispositivo */
    height: 100vh
}

.apresentacao__nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    border: none;
}

@media screen and (max-width: 768px) {
    .apresentacao__nav{
        padding-left: 0px;
        padding-right: 0px;
        background: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 75px;
    }
}

.apresentacao__nav__container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.apresentacao__nav__menu{
    display: flex;
    flex-basis: auto;
    justify-content: end;
}

.apresentacao__nav__logo {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao__nav__menu__checkbox { /* Altera a visibilidade */
    display: none;
}

.apresentacao__nav__menu__icon {
    display: none; /* Esconde o ícone do menu hambúrguer por padrão */
}

.apresentacao__nav__menu__lista {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;/* Deixa o menu flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
  
.apresentacao__nav__menu__lista__item {
    margin-right: 40px; /* espaçamento fixo entre os itens do menu */
    font-family: 'Oswald', sans-serif;
}

.apresentacao__nav__menu__lista__item a {
    text-decoration: none; /* Tira as bolinhas dos links do menu */
    color: #333;
}

/* Limitando o menu hamburguer para resoluções até 768px*/
@media screen and (max-width: 768px) {
    .apresentacao__nav__menu__lista {
      display: none; /* Esconde o menu padrão em telas menores */
    }
  
    .apresentacao__nav__menu__icon {
      display: block; /* Exibe o ícone do menu hambúrguer em telas menores */
    }
  }
  
  